
@import controllers.forms.UpdateWishListForm
@(wishList: Form[UpdateWishListForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.forms.routes.WishListController.updateWishListHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@wishList("id").value" type="hidden" />
    @inputText(wishList("username_id"))
    @inputText(wishList("item_id"))

    <div class="buttons">
        <input type="submit" value="Update WishList"/>
    </div>
}