@import controllers.forms.UpdateUserForm
@(user: Form[UpdateUserForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.forms.routes.UserController.updateUserHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@user("id").value" type="hidden" />
    @inputText(user("username"))
    @inputText(user("password"))


    <div class="buttons">
        <input type="submit" value="Update User"/>
    </div>
}