
@import controllers.forms.UpdateItemForm
@(item: Form[UpdateItemForm], categories: Seq[Category])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.forms.routes.ItemController.updateItemHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@item("id").value" type="hidden" />
    @inputText(item("name"))
    @inputText(item("price"))
    @inputText(item("image"))
    @inputText(item("description"))


    <label for="category"></label>
    <select name="categoryId" id="category">
    @for(entity <- categories) {
        @if(entity.id.toString == item("category").value.getOrElse(0)) {
            <option value="@entity.id" selected>@entity.name</option>
        } else {
            <option value="@entity.id">@entity.name</option>
        }

    }
    </select>


    <div class="buttons">
        <input type="submit" value="Update Item"/>
    </div>
}