@import controllers.forms.UpdatePaymentForm
@(payment: Form[UpdatePaymentForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.forms.routes.PaymentController.updatePaymentHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@payment("id").value" type="hidden" />
    @inputText(payment("amount"))
    @inputText(payment("payment_type"))



    <div class="buttons">
        <input type="submit" value="Update Payment"/>
    </div>
}